@import 'tailwindcss';

body {
  background-image: radial-gradient(
      at 72.84260191117214% 13.088318543626132%,
      hsla(235.26315789473685, 82.6086956521739%, 18.03921568627451%, 1) 0%,
      hsla(235.26315789473685, 82.6086956521739%, 18.03921568627451%, 0) 100%
    ),
    radial-gradient(
      at 34.77618995983598% 98.16899080717778%,
      hsla(55.2, 37.878787878787875%, 25.882352941176475%, 1) 0%,
      hsla(55.2, 37.878787878787875%, 25.882352941176475%, 0) 100%
    ),
    radial-gradient(
      at 12.182577400584616% 50.37763957389452%,
      hsla(261.0989010989011, 93.81443298969072%, 19.01960784313726%, 1) 0%,
      hsla(261.0989010989011, 93.81443298969072%, 19.01960784313726%, 0) 100%
    ),
    radial-gradient(
      at 95.10361399330168% 54.20113174668315%,
      hsla(235.26315789473685, 82.6086956521739%, 18.03921568627451%, 1) 0%,
      hsla(235.26315789473685, 82.6086956521739%, 18.03921568627451%, 0) 100%
    ),
    radial-gradient(
      at 92.49138113883981% 85.67169132686942%,
      hsla(55.2, 37.878787878787875%, 25.882352941176475%, 1) 0%,
      hsla(55.2, 37.878787878787875%, 25.882352941176475%, 0) 100%
    ),
    radial-gradient(
      at 39.663692442964305% 39.003790085069134%,
      hsla(261.0989010989011, 93.81443298969072%, 19.01960784313726%, 1) 0%,
      hsla(261.0989010989011, 93.81443298969072%, 19.01960784313726%, 0) 100%
    ),
    radial-gradient(
      at 4.121462271274079% 42.2068909722159%,
      hsla(235.26315789473685, 82.6086956521739%, 18.03921568627451%, 1) 0%,
      hsla(235.26315789473685, 82.6086956521739%, 18.03921568627451%, 0) 100%
    ),
    radial-gradient(
      at 96.62542408308698% 42.44382114279228%,
      hsla(55.2, 37.878787878787875%, 25.882352941176475%, 1) 0%,
      hsla(55.2, 37.878787878787875%, 25.882352941176475%, 0) 100%
    ),
    radial-gradient(
      at 92.06864530932515% 11.664908035480837%,
      hsla(261.0989010989011, 93.81443298969072%, 19.01960784313726%, 1) 0%,
      hsla(261.0989010989011, 93.81443298969072%, 19.01960784313726%, 0) 100%
    ),
    radial-gradient(
      at 21.56611322886568% 98.99075503407005%,
      hsla(235.26315789473685, 82.6086956521739%, 18.03921568627451%, 1) 0%,
      hsla(235.26315789473685, 82.6086956521739%, 18.03921568627451%, 0) 100%
    );
  background-repeat: repeat-y;
  background-size: 100% 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
